{include file="common/headPath" /}
{include file="common/header" /}
<div class="main-qp">
    <div class="main-w clearfix">
        <div class="tabs-container fabu-nav l">
            <div class="tx">
                <div class="touxiang"><img src="__CDN__/assets/home/images/mrtx.png" class="tximg"></div>
                <div class="mess"><a href="个人信息.html">王二虎</a>&nbsp;&nbsp;工程师<br>
                    <a href="企业信息.html" class="g9">杭州迷彩材料科技有限公司</a>
                </div>
                <button class="btn  btn-gz m10 fb " type="submit">发&nbsp;&nbsp;布</button>

            </div>
            <ul class="nav nav-tabs redline qyxx">
                <li class=""><a href="消息.html"> 消息</a></li>
                <li class="active"><a href="我的企业.html">我的企业</a></li>
                <li class=""><a href="我的订单.html">我的订单</a></li>
                <li class=""><a href="偏好设置.html">偏好设置</a></li>
                <li class=""><a href="账号安全.html">账号安全</a></li>
            </ul>
        </div>
        <div class="fabu-content r">
            <div class="fabubgwh p10-20 mb10 clearfix">
                <table class="table table-bordered jb-mess w600 mb0 l myqy">
                    <tbody>
                    <tr>
                        <th width="120" >企业名称</th>
                        <td><input class="form-control noborders" placeholder="杭州天更科技有限公司" type="text">

                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="l rel ml10">
                    <a href="javascript:;" class="btn-qq btn cjhei l  dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="true">创建</a>
                    <ul class="dropdown-menu  caidan">
                        <li>
                            <a href="{:url('home/business/preference_set')}">case1</a>
                        </li>
                        <li>
                            <a href="c创建企业.html">case2</a>
                        </li>
                    </ul>
                    <a href="javascript:;" data-toggle="modal" data-target="#myModalshop" class="db l shangzi myqy">商</a>
                </div>

            </div>
            <div class="fabubgwh  mb10 minh700">
                <p><span>汇聚创意·创造价值</span></p>
                <p><span>CMFYB是中国人气设计师互动平台，汇聚超过650万注册设计师，强力覆盖中国核心设计创意从业人群</span></p>

                <p><span>在设计创意群体中具有较高的影响力与号召力</span></p>

                <p><span>每年，站酷为超过20000+家企业提供专业支持与服务。通过赛事承办、营销策划、人才招聘、版权交易等服务</span></p>

                <p><span>为企业聚拢设计人才与资源，创造综合价值</span></p>

                <p><span>创意人群集中地—在这里找到目标用户</span></p>
                <p><span>站酷目前拥有6,500,000+注册设计师，每月新增60,000+</span></p>

                <p><span>覆盖中国300+城市,乃至全世界其他国家城市</span></p>

                <p><span>原创力量发声地—在这里看到设计的价值</span></p>
                <p><span>每日，会员发布原创作品20,000+幅</span></p>

                <p><span>每日，会员产生交流互动行为200,000+次</span></p>

                <p><span>每年，会员累计发布原创作品5,000,000+幅</span></p>

                <p><span>粘性用户集聚地—在这里发现平台的魅力</span></p>
                <p><span>每日独立访客(UV)700,000+人</span></p>

                <p><span>每日页面浏览量(PV)7,000,000+次</span></p>

                <p><span>每年参与线下活动的用户数量36,000+人</span></p>


            </div>

        </div>
    </div>

<!-- Modal -->
<div class="modal fade cmyk  " id="myModalshop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" >
        <div class="modal-content"  >
            <div class="modal-body"  >
                <div class="shopview clearfix">
                    <div class="whbgyj">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
                            <tr>
                                <td align="right" width="100">企业名称</td>
                                <td>杭州天更科技有限公司</td>
                                <td align="right" width="100">注册地址</td>
                                <td>浙江省杭州经济技术开发区科技园路57号17幢510室</td>
                            </tr>
                            <tr>
                                <td align="right">统一社会信用代码</td>
                                <td>1236523365242351W</td>
                                <td align="right">法定代表人</td>
                                <td>王天一</td>
                            </tr>
                            <tr>
                                <td align="right">类型</td>
                                <td>有限责任公司</td>
                                <td align="right">注册资本</td>
                                <td>人民币100万元</td>
                            </tr>
                            <tr>
                                <td align="right">营业期限</td>
                                <td>2017年10月27日至长期</td>
                                <td align="right">成立日期</td>
                                <td>2011年10月30日</td>
                            </tr>
                            <tr>
                                <td align="right">登记机关</td>
                                <td>杭州市市场监督管理局</td>
                                <td align="right">认证时间</td>
                                <td>2018.11.12</td>
                            </tr>
                            <tr>
                                <td align="right">经营范围</td>
                                <td colspan="3">技术开发、技术服务、技术咨询、成果转让：数据处理技术、数据分析技术、数据整理技术、网络信息技术；服务：工业产品设计；其他无需报经审批的一切合法项目。（依法须经批准的项目，经相关部门批准后方可开展经营活动）</td>

                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="common/fooder" /}
</body>
</html> 