{include file="common/headPath" /}
<body>

<div class="tabs-container regist">
    <div class="navbg">
        <ul class="nav nav-tabs redline">
            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 密码登录</a>
            </li>
            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false"> 短信登录</a>
            </li>
        </ul>
    </div>
    <div class=" tab-content">
        <div id="tab-1" class="tab-pane active">
            <form class="form-horizontal m-t mmdl"  novalidate="novalidate">
                <div class="form-group">
                    <input id="cname" name="name" minlength="2" class="form-control" required="" aria-required="true"
                           type="text" placeholder="手机号／邮箱">

                </div>
                <div class="form-group">

                    <input id="cemail" class="form-control" name="email" required="" aria-required="true"
                           type="password" placeholder="密码">

                </div>
                <div class="form-group" >
                    <div>
                        <a class="btn  btn-regiest col-sm-12" id="sign">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="l">
                        <div class="checkbox">
                            <label>
                                <input class="checkbox" id="agree" name="agree" type="checkbox">记住登录
                            </label>
                        </div>
                    </div>
                    <div class="r">
                        <a href="javascript:;" class="mlr5">忘记密码</a>|<a href="{:url('home/login/register')}" class="mlr5">注册</a>
                    </div>
                </div>
            </form>


        </div>
        <div id="tab-2" class="tab-pane ">
            <form class="form-horizontal m-t"  novalidate="novalidate">
                <div class="form-group">
                    <input  name="name" minlength="2" class="form-control" required="" aria-required="true"
                           type="text" placeholder="手机号">

                </div>
                <div class="form-group">
                    <div class="lvbar l">通过验证</div>
                    <div class="gxuan l"><img src="__CDN__/assets/home/images/gou.png"> </div>
                </div>
                <div class="form-group">
                    <input  class="form-control yzm l" name="email" required="" aria-required="true"
                            type="password" placeholder="验证码">
                    <button type="button" class="btn btn-w-m btn-default r">发送验证码</button>



                </div>
                <div class="form-group">
                    <div>
                        <a class="btn  btn-regiest col-sm-12" href="登录后sy.html" >登&nbsp;&nbsp;录</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="l">
                        <div class="checkbox">
                            <label>
                                <input class="checkbox"  name="agree" type="checkbox">记住登录
                            </label>
                        </div>
                    </div>
                    <div class="r">
                        <a href="javascript:;" class="mlr5">忘记密码</a>|<a href="{:url('home/login/register')}" class="mlr5">注册</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="disanf tc">
            <div>第三方账号登录</div>
            <div class="disanftb clearfix">
                <ul>
                    <li><a href="javascript:;"><i class=" fa fa-qq"></i></a> </li>
                    <li><a href="javascript:;"><i class=" fa fa-weibo"></i></a> </li>
                    <li> <a href="javascript:;" data_c="ShowInfo" data_s="EWM1"><i class="fa fa-wechat"></i> </a>
                        <div class=" upjt " id="EWM1">
                            <div class="arrow "></div>
                            <img src="__CDN__/assets/home/images/erwm.jpg"><br>分享到微信
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>


<script src="__CDN__/assets/home/bootstrap/js/jquery.min.js?v=2.1.4"></script>
<script src="__CDN__/assets/home/bootstrap/js/bootstrap.min.js?v=3.3.5"></script>
<script src="__CDN__/assets/home/bootstrap/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__CDN__/assets/home/bootstrap/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__CDN__/assets/home/bootstrap/js/plugins/layer/layer.min.js"></script>
<script src="__CDN__/assets/home/bootstrap/js/hplus.min.js?v=4.0.0"></script>
<script type="text/javascript" src="__CDN__/assets/home/bootstrap/js/contabs.min.js"></script>
<script src="__CDN__/assets/home/bootstrap/js/plugins/pace/pace.min.js"></script>
<script type="text/javascript" src="__CDN__/assets/home/js/jquery.row-grid.js"></script>
<script>
$("#sign").click(function(){
    var url="{:url('home/login/sign')}";
    var mobile=$("#cname").val();
    var passwd=$("#cemail").val();
    if(mobile==''){
        layer.msg('手机号不能为空');
        return false;
    }else if(mobile.search(/^1(3|4|5|7|8)\d{9}$/) == -1){
        layer.msg('请输入正确的手机格式');
        return false;
    }
    
    if(passwd==''){
        layer.msg('密码不能为空');
        return false;
    }
    $.post(url,{mobile:mobile,passwd:passwd},function(reslut){
        var myjson='';
        eval('myjson='+reslut+'');
        if(myjson.code>0){
            layer.msg(myjson.msg);
            
            setTimeout(function(){window.location.href="{:url('home/index/index')}"}, 1000);
        }else{
            layer.msg(myjson.msg);
        }
    })
    return false;
})
</script>
<script type="text/javascript">
    $('.about-eye').click(function () {
        $(this).find('i').toggleClass('fa-eye fa-eye-slash')
    });
    $('.video').mouseover(function () {
        $(this).find(".bf").show();
    });
    $('.video').mouseleave(function () {
        $(this).find(".bf").hide();
    });

    $(document).ready(function () {
        $(".container").rowGrid({itemSelector: ".item", minMargin: 10, maxMargin: 25, firstItemClass: "first-item"});
    });

</script>

<script type="text/javascript">

    $('[data_c="ShowInfo"]').hover(function () {
        var data_s = $(this).attr('data_s');
        $('#' + data_s).show();
    }, function () {
        var data_s = $(this).attr('data_s');
        $('#' + data_s).hide();
    });
</script>
<script src="js/TouchSlide.js"></script>
<script>
    TouchSlide({
        slideCell: "#focus",
        titCell: ".hd ul", // 开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell: ".bd ul",
        effect: "leftLoop",
        autoPlay: true, // 自动播放
        autoPage: true, // 自动分页
        delayTime: 200, // 毫秒；切换效果持续时间（执行一次效果用多少毫秒）
        interTime: 2500, // 毫秒；自动运行间隔（隔多少毫秒后执行下一个效果）
        switchLoad: "_src" // 切换加载，真实图片路径为"_src"
    });

</script>


</body>
</html> 