{include file="common/headPath" /}
<body>
<style>
.cslj {
    margin: 0 5px 5px 0;
    float: left;
}
.my-box-t {
    height: 30px;
    line-height: 30px;
}
.ybxiangqing .jianjie .jj-icons ul .my-box-list li{
    margin-left: 0px;
}
.ybxiangqing .jianjie .jj-icons .my-box-list a{
    border:0;
    color: #333;
    border-radius: 0px;
    min-width: 50%;
    height: 42px;
    line-height: 42px;
}
.ybxiangqing .jianjie .jj-icons .my-box-list a:hover{
    color: #fff;
}
.box-icon .icon.icon-cube2, .icon.icon-cube2 {
    background-size: 14px;
    margin-top:13px;
}
.yb-icons2 {
    border-bottom: none;
}
.showbg,.showbg i{
    border: 1px solid #f00;
    background-color: #f00;
    color: #fff;
}
.showbg i,.showbg span{
    color: #fff;
}
.fa-thumbs-o-up2:before{
    color:#f00;
}
.tximg2{
    width:40px;
    height: 40px;
    border-radius:50%;
}

.box-icon .icon.icon-cube, .icon.icon-cube3 {
    background-image: url(__CDN__/assets/home/images/u347.png);
    background-size: 13px;
}
.box-icon .icon.icon-cube, .icon.icon-cube4 {
    background-image: url(__CDN__/assets/home/images/u347r.png);
    background-size: 13px;
}
.box-icon .icon.icon-eye2 {
    background-image: url(__CDN__/assets/home/images/u339.png);
    background-size: 15px;
    width: 15px;
}
.showbg2 .icon.icon-thumbs-up{
    background-image: url(__CDN__/assets/home/images/u345r.png);
    background-size: 12px;
}
.showbg2 .icon.icon-star {
    background-image: url(/assets/home/images/u337.png);
}
</style>
<div class="ybxiangqing clearfix">
    <div class="main">
        <div class="jianjie">
            <div class="bt-bar clearfix ">
                <div class="bt">{$release_detail.name}</div>
                <div class="jj-icons ">
                    <ul>
                        <li class="circle">
                            <a href="javascript:;" data_c="ShowInfo" data_s="EWM1"><i class="fa fa-wechat"></i> </a>
                            <div class=" upjt " id="EWM1">
                                <div class="arrow "></div>
                                <img src="__CDN__/assets/home/images/erwm.jpg"><br>分享到微信
                            </div>
                        </li>
                        <li class="circle">
                            <a href="javascript:;" title="复制链接"><i class="fa fa-link"></i> </a>
                        </li>
                        <!-- <li>
                            <a href="{:url('home/master/attitude')}?status=4&release_id={$release_detail['id']}" title="添加到盒子里" class="addattitude" data-msg="已加入盒子"><i class="fa fa-cube"></i><span class="status">{$release_detail.addbox}</span> </a><span class="status">
                        </li> -->
                        <li>
                        <div class="yb-icons yb-icons2 box-icon boxparent">
                            <div class="box-icongap boxopen">
                            <a class="dropdown-toggle {$is_status[3]?'showbg':''}" data-toggle="dropdown" aria-expanded="true" title="添加到盒子里" >
                                <div class="box-icongap">
                                    <i class="fa fa-cube"></i><span class="boxstatus" style="font-size:14px;">{$release_detail.addbox}</span>
                                </div>
                            </a>
                            <div class="dropdown-menu my-box ">
                                <div class="my-box-t">我的盒子</div>
                                <div class="my-box-list">
                                    <ul>
                                        {volist name="box" id="b"}
                                        <li><a href="{:url('home/master/attitude')}?status=4&release_id={$release_detail['id']}&sid={$b.id}" class="addattitude2"><i class="fa fa-cube red icon-cube3 {$b['count']==0?'nosel':'sel'}"></i>{$b.name}</a>
                                        </li>
                                        {/volist}
                                        
                                        <li class="tops"></li>
                                        <li>
                                            <div class="input-group">
                                                <input type="text" class="form-control fs12 boxval" placeholder="输入名称">
                                                <span
                                                        class="input-group-btn"> <button type="button"
                                                                                         class="btn btn-danger addbox" data-link="{:url('home/master/attitude')}?status=4&release_id={$release_detail['id']}">新建
                                        </button> </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="{:url('home/master/attitude')}?status=3&release_id={$release_detail['id']}" title="收藏人数" class="addattitude {$is_status[2]?'showbg':''}" data-msg="收藏"><i class="fa fa-star"></i><span class="status">{$release_detail.collection}</span> </a>
                        </li>
                        <li>
                            <a href="{:url('home/master/attitude')}?status=2&release_id={$release_detail['id']}" title="点赞人数" class="addattitude {$is_status[1]?'showbg':''}" data-msg="赞了一下"><i class="fa fa-thumbs-o-up"></i><span class="status">{$release_detail.praise}</span> </a>
                        </li>
                        <li>
                            <a href="{:url('home/master/attitude')}?status=1&release_id={$release_detail['id']}" title="拍砖人数" class="addattitude {$is_status[0]?'showbg':''}" data-msg="踩了一下"><i class="fa fa-thumbs-o-down"></i><span class="status">{$release_detail.trample}</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="jj">
                {$release_detail.abstract}
                <div class="date">
                    <a href="javascript:;">样板</a>
                    <span class="fg">|</span>
                    {$release_detail.addtime|date='Y-m-d H:i:s',###}
                    <span class="fg">|</span>
                    <a href="javascript:;">举报</a>
                </div>
            </div>


        </div>
        <div class="yangbankf clearfix">
            <div class="yangbankf1 ybfgx">
                <div class="cailiao-photo">
                    <img src="__CDN__/assets/home/images/u4798.png"><br>
                    <a href="#">材质球说明</a>
                </div>
                <div class="cailiao-jj">
                    <h2>材质球</h2>
                    <div class="wlrmd">未列入开发名单中！</div>
                    <div class="syrj">适用软件：Keyshot、VRay</div>
                    <div >
                        <div class="yqkfbtn l"> <a href="#" class="togglekf kaifa" data_c="yqkf">要求开发</a></div>
                        <div class="fs12">（2316人已要求）<br>
                        <span class="g9">（要求开发的人越多，材质球开发速度越快！）</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="yangbankf1 ">
                <div class="cailiao-photo">
                    <img src="__CDN__/assets/home/images/u4796.png"><br>
                    <a href="#">样板说明</a>
                </div>
                <div class="cailiao-jj">
                    <h2>样板</h2>
                    <div class="wlrmd">未列入开发名单中！</div>
                    <div class="syrj g9 fs12">
                        <i class="icon icon-dui"></i>包邮&nbsp;&nbsp;
                        <i class="icon icon-dui"></i>CMFYB自营
                    </div>
                    <div >
                        <div class="yqkfbtn l"> <a href="#" class="togglekf kaifa" data_c="yqzz">要求制作</a></div>
                        <div class="fs12">（2316人已要求）<br>
                            <span class="g9">（要求开发的人越多，样板制作的速度越快！）</span>
                        </div>
                    </div>
                </div>

            </div>


         </div>
        <div class="yangbankf clearfix">
            <div class="yangbankf1 ybfgx">
                <div class="cailiao-photo">
                    <img src="__CDN__/assets/home/images/u4798.png"><br>
                    <a href="#">材质球说明</a>
                </div>
                <div class="cailiao-jj">
                    <h2>材质球
                        <img src="__CDN__/assets/home/images/u237.png"><span>奋斗开发中！</span>
                    </h2>
                    <div class="wlrmd">价格：<span class="red"><b>¥2.00元</b></span></div>
                    <div class="syrj">适用软件：Keyshot、VRay</div>
                    <div >
                        <div class="yqkfbtn l"> <a href="#" class="togglekf kaifa" data_c="yyd">1元 预定</a></div>
                        <div class="fs12">（2316人已预定）<br>
                            <span class="g9">（预定的人越多，材质球开发速度越快！）</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="yangbankf1 ">
                <div class="cailiao-photo">
                    <img src="__CDN__/assets/home/images/u4796.png"><br>
                    <a href="#">样板说明</a>
                </div>
                <div class="cailiao-jj">
                    <h2>样板
                        <img src="__CDN__/assets/home/images/u237.png"><span>奋斗开发中！</span>
                    </h2>
                    <div class="wlrmd">价格：<span class="red"><b>¥20.00元</b></span></div>
                    <div class="syrj g9 fs12">
                        <i class="icon icon-dui"></i>包邮&nbsp;&nbsp;
                        <i class="icon icon-dui"></i>CMFYB自营
                    </div>
                    <div >
                        <div class="yqkfbtn l"> <a href="#" class="togglekf kaifa" data_c="yyd1">15元 预定</a></div>
                        <div class="fs12">（2316人已预定）<br>
                            <span class="g9">（预定的人越多，样板制作速度越快！）</span>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="yangbankf clearfix">
            <div class="yangbankf1 ybfgx">
                <div class="cailiao-photo">
                    <img src="__CDN__/assets/home/images/u4798.png"><br>
                    <a href="#">材质球说明</a>
                </div>
                <div class="cailiao-jj">
                    <h2>材质球</h2>
                    <div class="wlrmd">
                        <div class="r g9">销量：12</div>
                        价格：<span class="red"><b>¥2.00元</b></span></div>
                    <div class="syrj">适用软件：Keyshot、VRay</div>
                    <div >
                        <div class="yqkfbtn l"> <a href="#" class="togglekf kaifa" >加入购物车</a></div>

                    </div>
                </div>
            </div>
            <div class="yangbankf1 ">
                <div class="cailiao-photo">
                    <img src="__CDN__/assets/home/images/u4796.png"><br>
                    <a href="#">样板说明</a>
                </div>
                <div class="cailiao-jj">
                    <h2>
                        <div class="syrj g9 fs12 byzy-ysj r">
                            <i class="icon icon-dui"></i>包邮&nbsp;&nbsp;
                            <i class="icon icon-dui"></i>CMFYB自营
                        </div>
                        样板</h2>
                    <div class="wlrmd">
                        <div class="r g9">销量：12</div>
                        价格：<span class="red"><b>¥20.00元</b></span></div>
                    <div class="syrj g9 fs12">
                        <div class="tb-amount">
                            <div class="tb-stock l ">
                                <div class="l">数量：</div>
                                <a href="javascript:;" class="addreduce l ">-</a>
                                <a href="javascript:;" class="addreduce r ">+</a>
                                <input type="text" value="1" class="tb-text">
                            </div>
                            <div class="l">（库存：213）</div>
                        </div>
                    </div>
                    <div >
                        <div class="yqkfbtn l"> <a href="#" class="togglekf kaifa" >加入购物车</a></div>

                    </div>
                </div>

            </div>


        </div>
        <div class="yangbankf clearfix">
            <div class="yangbankf1 ybfgx">
                <div class="cailiao-photo">
                    <img src="__CDN__/assets/home/images/u4798.png"><br>
                    <a href="#">材质球说明</a>
                </div>
                <div class="cailiao-jj">
                    <h2>材质球</h2>
                    <div class="wlrmd">
                        <a href="c材质球使用教程.html" class="djred">《材质球使用教程》</a>
                    </div>
                    <div class="syrj">适用软件：Keyshot、VRay</div>
                    <div >
                        <div class="yqkfbtn l"> <a href="#" class="togglekf kaifa" >点击下载</a></div>

                    </div>
                </div>
            </div>



        </div>


        <div class="view">
            <div class="tabs-container">
                <ul class="nav nav-tabs redline">
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 详情</a>
                    </li>
                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">案例</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="canshu">
                            <div class="bt fontsize">参数：</div>
                            <div class="csview clearfix">
                                <ul>
                                    {foreach name="release_detail.parameter" item="value" key="k"}
                                    <li>{$k}：{$value}</li>
                                    {/foreach}
                                </ul>
                            </div>
                        </div>
                        <div class="canshu ">
                            <div class="csview cl clearfix">
                                <ul>
                                    <li>
                                        <div class="bt fontsize">材料：</div>
                                        {volist name="release_detail.material" id="rel"}
                                        <a href="javascript:;" class="cslj">{$rel['name']}</a>
                                        {/volist}
                                    </li>
                                    <li>
                                        <div class="bt fontsize">耗材：</div>
                                        {volist name="release_detail.consumables" id="con"}
                                        <a href="javascript:;" class="cslj">{$con['name']}</a>
                                        {/volist}
                                    </li>
                                    <li>
                                        <div class="bt fontsize">成型工艺：</div>
                                        {volist name="release_detail.moulding_process" id="mon"}
                                        <a href="javascript:;" class="cslj">{$mon['name']}</a>
                                        {/volist}
                                    </li>
                                    <li>
                                        <div class="bt fontsize">表面工艺：</div>
                                        {volist name="release_detail.surface_process" id="sur"}
                                        <a href="javascript:;" class="cslj">{$sur['name']}</a>
                                        {/volist}
                                    </li>
                                    <li>
                                        <div class="bt fontsize">连接工艺：</div>
                                        {volist name="release_detail.join_process" id="joi"}
                                        <a href="javascript:;" class="cslj">{$joi['name']}</a>
                                        {/volist}
                                    </li>
                                    <li>
                                        <div class="bt fontsize">适用设备：</div>
                                        {volist name="release_detail.device" id="dev"}
                                        <a href="javascript:;" class="cslj">{$dev['name']}</a>
                                        {/volist}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="canshu  ">
                            <div class="effect clearfix ">
                                <div class="bt fontsize l">标签：</div>
                                {volist name="release_detail.effect" id="eff"}
                                <a href="javascript:;" class="cslj">{$eff}</a>
                                {/volist}
                            </div>
                            <div class="nr">
                                {$release_detail.content}
                            </div>
                        </div>
                        <div class="comment-bank">
                            <div class="comment clearfix contentparent">
                                <div class="l"><img src="{$user_info['avatar']?$user_info['avatar']:'__CDN__/assets/home/images/mrtx.png'}" class="tximg tximg2"></div>
                                <div class="pl">
                                    <div class="inform">{$user_info.username}&nbsp;&nbsp;{$user_info.vocation}&nbsp;&nbsp;{$user_info.business.name}</div>
                                    <div class="form-group">
                                        <input class="form-control bgf0 content" type="text" placeholder="说点啥？">
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="l"><i class="fa fa-smile-o fs28"></i></div>
                                        <div class="r">
                                            <input type="hidden" value="{:url('home/master/comment')}?release_id={$release_detail['id']}" id="curl">
                                            <button class="btn  btn-regiest w100 content_submit" type="submit" data-level="0">评论</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="commnet-list clearfix">
                                <ul>
                                    {volist name="comment_list" id="comment"}
                                    <li>
                                        <div class="l"><img src="{$comment['avatar']?$comment['avatar']:'__CDN__/assets/home/images/mrtx.png'}" class="tximg tximg2"></div>
                                        <div class="pl">
                                            <div class="inform">{$comment.username}<span class="tab">{$comment.vocation}</span><i class="icon icon-boshi"></i><span class="t">T</span>{$comment.vocation}&nbsp;&nbsp;{$comment.business_name}
                                            {volist name="comment.company_type" id="c"}
                                            <span class="tab">{$c}</span>
                                            {/volist}
                                            <span class="time">{$comment.addtime|date='Y-m-d H:i:s',###}</span></div>
                                            <div class="nr">
                                               {$comment.content}
                                               <div class="comtent_reply">
                                                   <ul>
                                                   {volist name="comment.reply" id="rep"}
                                                    <li style="border-bottom:1px dashed #ebebeb;">
                                                        <div class="l"><img src="{$rep['avatar']?$rep['avatar']:'__CDN__/assets/home/images/mrtx.png'}" class="tximg tximg2"></div>
                                                        <div class="pl">
                                                            <div class="inform">{$rep.username}<span class="tab">{$rep.vocation}</span><i class="icon icon-boshi"></i><span class="t">T</span>{$rep.vocation}&nbsp;&nbsp;{$rep.business_name}
                                                            {volist name="rep.company_type" id="c"}
                                                            <span class="tab">{$c}</span>
                                                            {/volist}
                                                            <span class="time">{$rep.addtime|date='Y-m-d H:i:s',###}</span></div>
                                                            <div class="nr">
                                                                {$rep.content}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {/volist}
                                                   </ul>
                                               </div>
                                            </div>
                                            <div class="r jb">
                                                <a href="javascript:;"><i class="fa fa-exclamation-triangle"></i>举报</a>
                                                <a href="javascript:;" class="pinglun-tb " ><i class="fa fa-commenting-o" ></i></a>
                                                <a href="{:url('home/master/praise')}?status=7&release_id={$release_detail.id}&tid={$comment.id}&sid={$comment.user_id}" class="praise"><i class="fa fa-thumbs-o-up {$comment.is_praise?'fa-thumbs-o-up2':''}"></i><span>{$comment.praise}</span></a>
                                            </div>
                                            <div class="clearfix box-name"></div>
                                            <div class="pinglun-zk shows contentparent" style="display: none">
                                                <div class="form-group">
                                                    <input class="form-control bgf0 content" type="text" placeholder="说点啥？">
                                                </div>
                                                <div class="form-group">
                                                    <div class="l"><i class="fa fa-smile-o fs28"></i></div>
                                                    <div class="r">
                                                        <button class="btn  btn-regiest w100  content_submit" type="submit" data-reply="{$comment.user_id}" data-level="{$comment.level+1}" data-pid="{$comment.id}">评论</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    {/volist}
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                       <div class="upload"><a href="javascript:;"><i class="icon icon-upload"></i></a></div>
                        <div class="case clearfix">
                            <ul>
                                <li> <div class="itembg">
                                    <a href="案例详情页.html" class="db"><img src="__CDN__/assets/home/images/yb5.jpg" class="tjimg"></a>
                                    <div class="bc-nr">
                                        <div class="clearfix bc-bt">
                                            <div class="r">
                                <a href="javascript:;" title="把材质球加入购物车" class="l">
                                    <i class="icon icon-hua"></i>
                                </a>
                                <a href="javascript:;" class="l " title="正在开发中/缺货">
                                    <i class="icon icon-logoh"></i>
                                </a>
                                <div class="clearfix box-name"></div>
                            </div>
                                            <div class="bc-bt-n">CMFAN1802651111</div>
                                        </div>
                                        <div class="clearfix box-name">
                                            <div class="l bc-cz">
                                                <span class="yb-yj">样板</span>
                                                <a href="案例详情页.html">蚀纹</a>
                                                <a href="案例详情页.html">ABC</a>
                                            </div>
                                            <div class="r frjc12">精华</div>
                                        </div>
                                        <div class="yb-icons box-icon">
                                            <div class="box-icongap">
                                                <i class="icon icon-eye"></i><span class="boxfs">5.5万</span>
                                            </div>
                                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" title="添加到盒子里">
                                                <div class="box-icongap">
                                                    <i class="icon icon-cube icon-cube2"></i><span class="boxfs">5.5万</span>
                                                </div>
                                            </a>

                                            <div class="dropdown-menu my-box ">
                                                <div class="my-box-t">我的盒子</div>
                                                <div class="my-box-list">
                                                    <ul>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red sel"></i>家用电器</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>家用电器</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>家用电器</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red sel"></i>家用电器</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>家用电器</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>家用电器</a>
                                                        </li>
                                                        <li>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control fs12" placeholder="输入名称">
                                                                    <span class="input-group-btn"> <button type="button" class="btn btn-danger">新建
                                                                    </button> </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <a href="javascript:;">
                                                <div class="box-icongap"><i class="icon icon-star"></i><span class="boxfs">5.5万</span></div>
                                            </a>
                                            <a href="javascript:;">
                                                <div class="box-icongap"><i class="icon icon-thumbs-up"></i><span class="boxfs">5.5万</span>
                                                </div>
                                            </a>
                                            <div class="box-icongap"><i class="icon icon-comment"></i><span class="boxfs">5.5万</span></div>

                                        </div>
                                        <div class="clearfix box-name">
                            <div class="l"><img src="__CDN__/assets/home/images/mrtx.png" class="tximg"></div>
                            <div class="yb-company"><a href="个人信息.html">王泽明</a>&nbsp;<a
                                                    href="企业信息.html">杭州泽明科技有限公司</a></div>
                                        </div>
                                    </div>
                                </div></li>
                                <li> <div class="itembg">
                                    <a href="案例详情页.html" class="db"><img src="__CDN__/assets/home/images/yb5.jpg" class="tjimg"></a>
                                    <div class="bc-nr">
                                        <div class="clearfix bc-bt">
                                            <div class="r">
                                <a href="javascript:;" title="把材质球加入购物车" class="l">
                                    <i class="icon icon-hua"></i>
                                </a>
                                <a href="javascript:;" class="l " title="正在开发中/缺货">
                                    <i class="icon icon-logoh"></i>
                                </a>
                                <div class="clearfix box-name"></div>
                            </div>
                                            <div class="bc-bt-n">CMFAN1802651111</div>
                                        </div>
                                        <div class="clearfix box-name">
                                            <div class="l bc-cz">
                                                <span class="yb-yj">样板</span>
                                                <a href="案例详情页.html">蚀纹</a>
                                                <a href="案例详情页.html">ABC</a>
                                            </div>
                                            <div class="r frjc12">精华</div>
                                        </div>
                                        <div class="yb-icons box-icon">
                                            <div class="box-icongap">
                                                <i class="icon icon-eye"></i><span class="boxfs">5.5万</span>
                                            </div>
                                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" title="添加到盒子里">
                                                <div class="box-icongap">
                                                    <i class="icon icon-cube"></i><span class="boxfs">5.5万</span>
                                                </div>
                                            </a>

                                            <div class="dropdown-menu my-box ">
                                                <div class="my-box-t">我的盒子</div>
                                                <div class="my-box-list">
                                                    <ul>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red sel"></i>家用电器</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>家用电器</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>家用电器</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red sel"></i>家用电器</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>家用电器</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>我的盒子</a>
                                                        </li>
                                                        <li><a href="javascript:;"><i class="fa fa-cube red nosel"></i>家用电器</a>
                                                        </li>
                                                        <li>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control fs12" placeholder="输入名称">
                                                                    <span class="input-group-btn"> <button type="button" class="btn btn-danger">新建
                                                                    </button> </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <a href="javascript:;">
                                                <div class="box-icongap"><i class="icon icon-star"></i><span class="boxfs">5.5万</span></div>
                                            </a>
                                            <a href="javascript:;">
                                                <div class="box-icongap"><i class="icon icon-thumbs-up"></i><span class="boxfs">5.5万</span>
                                                </div>
                                            </a>
                                            <div class="box-icongap"><i class="icon icon-comment"></i><span class="boxfs">5.5万</span></div>

                                        </div>
                                        <div class="clearfix box-name">
                            <div class="l"><img src="__CDN__/assets/home/images/mrtx.png" class="tximg"></div>
                            <div class="yb-company"><a href="个人信息.html">王泽明</a>&nbsp;<a
                                                    href="企业信息.html">杭州泽明科技有限公司</a></div>
                                        </div>
                                    </div>
                                </div></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="side">
        <div class="tx">
           <div class="touxiang"><img src="{$release_detail['user']['avatar']?$release_detail['user']['avatar']:'__CDN__/assets/home/images/mrtx.png'}" class="tximg" style="width:100px;height:100px;border-radius:50%;"> </div>
            <div class="mess"><a href="个人信息.html">{$release_detail.user.username}</a>&nbsp;&nbsp;{$release_detail.user.vocation}<br>
                <a href="企业信息.html" class="g9">{$release_detail.business.name}</a>
            </div>
            <button class="btn  btn-gz m10 follow" type="submit" data-href="{:url('home/master/follow')}?status=6&release_id={$release_detail['id']}&sid={$release_detail.user.id}">{$is_status[5]?'已关注':'关注'}</button>
            <button class="btn  btn-qq m10" type="submit">QQ</button>
        </div>
        <div class="tadefb">
            他的发布：
        </div>
        <div class="case clearfix">
            <ul>
                {volist name="more_lsit" id="more"}
                <li> <div class="itembg boxparent">
                    <a href="{:url('home/master/material_detail')}?id={$more.id}&release_type={$release_type}" class="db"><img src="{$more['cover_image']==''?'__CDN__/assets/home/images/yb5.jpg':$more['cover_image']}" class="tjimg"></a>
                    <div class="bc-nr">
                        <div class="clearfix bc-bt">
                           <div class="r">
                                <a href="javascript:;" title="把材质球加入购物车" class="l">
                                    <i class="icon icon-hua"></i>
                                </a>
                                <a href="javascript:;" class="l " title="正在开发中/缺货">
                                    <i class="icon icon-logoh"></i>
                                </a>
                                <div class="clearfix box-name"></div>
                            </div>
                            <div class="bc-bt-n">{$more.name}</div>
                        </div>
                        <div class="clearfix box-name">
                            <div class="l bc-cz">
                                <span class="yb-yj">{$more.part_name}</span>
                                <a href="案例详情页.html">蚀纹</a>
                                <a href="案例详情页.html">ABC</a>
                            </div>
                            <div class="r frjc12">精华</div>
                        </div>
                        <div class="yb-icons box-icon">
                            <div class="box-icongap">
                                <i class="icon icon-eye"></i><span class="boxfs">{$more.browse}</span>
                            </div>
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" title="添加到盒子里">
                                <div class="box-icongap">
                                    <i class="icon icon-cube icon-cube3 {$more['is_status4']?'icon-cube4':''}"></i><span class="boxfs boxstatus">{$more.addbox}</span>
                                </div>
                            </a>

                            <div class="dropdown-menu my-box ">
                                <div class="my-box-t">我的盒子</div>
                                <div class="my-box-list">
                                    <ul>
                                        {volist name="more.more_box" id="mb"}
                                        <li><a href="{:url('home/master/attitude')}?status=4&release_id={$more['id']}&sid={$mb.id}" class="addattitude2"><i class="fa fa-cube red {$mb['count2']==0?'nosel':'sel'}"></i>{$mb.name}</a>
                                        </li>
                                        {/volist}
                                        
                                        <li class="tops"></li>
                                        <li>
                                            <div class="input-group">
                                                <input type="text" class="form-control fs12 boxval" placeholder="输入名称">
                                                <span
                                                        class="input-group-btn"> <button type="button"
                                                                                         class="btn btn-danger addbox" data-link="{:url('home/master/attitude')}?status=4&release_id={$more['id']}">新建
                                        </button> </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <a href="{:url('home/master/attitude')}?status=3&release_id={$more['id']}" title="收藏人数" class="addattitude3 {$more['is_status2']?'showbg2':''}" data-msg="收藏">
                                <div class="box-icongap"><i class="icon icon-star {$more['is_status3']?'icon-star2':''}"></i><span class="boxfs status">{$more.collection}</span></div>
                            </a>
                            <a href="{:url('home/master/attitude')}?status=2&release_id={$more['id']}" class="addattitude3 {$more['is_status2']?'showbg2':''}" data-msg="赞了一下">
                                <div class="box-icongap"><i class="icon icon-thumbs-up {$more['is_status2']?'icon-thumbs-up2':''}"></i><span class="boxfs status">{$more.praise}</span>
                                </div>
                            </a>
                            <div class="box-icongap"><i class="icon icon-comment"></i><span class="boxfs">{$more.discuss}</span></div>

                        </div>
                        <div class="clearfix box-name">
                            <div class="l"><img src="{$more['user']['avatar']==''?'__CDN__/assets/home/images/mrtx.png':$more['user']['avatar']}" class="tximg  tximg3"></div>
                            <div class="yb-company"><a href="{:url('home/user/user_info')}?user_id={$more.user_id}">{$more.user.username}</a>&nbsp;<a
                                    href="{:url('home/business/business_info')}?business_id={$more.business_id}&user_id={$more.user_id}">{$more.business.name}</a></div>
                        </div>
                    </div>
                </div>
                </li>
                {/volist}

            </ul>
        </div>
    </div>
</div>





<script src="__CDN__/assets/home/bootstrap/js/jquery.min.js?v=2.1.4"></script>
<script src="__CDN__/assets/home/bootstrap/js/bootstrap.min.js?v=3.3.5"></script>
<script src="__CDN__/assets/home/bootstrap/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__CDN__/assets/home/bootstrap/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__CDN__/assets/home/bootstrap/js/plugins/layer/layer.min.js"></script>
<script src="__CDN__/assets/home/bootstrap/js/hplus.min.js?v=4.0.0"></script>
<script type="text/javascript" src="__CDN__/assets/home/bootstrap/js/contabs.min.js"></script>
<script src="__CDN__/assets/home/bootstrap/js/plugins/pace/pace.min.js"></script>
<script type="text/javascript" src="__CDN__/assets/home/js/jquery.row-grid.js"></script>
<script>
//显示评论回复
$(".fa-commenting-o").click(function(){
    var con=$(this).parents(".pl").find(".contentparent");
    if(con.hasClass("shows")){
        con.removeClass("shows");
        con.show();
    }else{
        con.addClass("shows");
        con.hide();
    }
    
    return false;
})
//他发布的赞...
$(".addattitude3").click(function(){
    var msg = $(this).attr('data-msg');
    var span=$(this).find("span.status");
    var url=this.href;
    var t=$(this);
    $.get(url,function(result){
        if(result==1){
            layer.msg(msg+'成功');
            span.html(span.html()*1+1);
            t.addClass("showbg2");
        }else if(result==2){
            layer.msg(msg+'失败');
        }else if(result==3){
            layer.msg('取消'+msg+'成功');
            span.html(span.html()*1-1);
            t.removeClass("showbg2");
        }else if(result==4){
            layer.msg('取消'+msg+'失败');
        }
    })
    return false;
})
//评论赞
$("body").on("click",".praise",function(){
    var i=$(this).find("i");
    var url=this.href;
    var span=$(this).find("span");
    $.get(url,function(result){
        if(result==1){
            layer.msg('评论点赞成功');
            i.addClass("fa-thumbs-o-up2");
            span.html(span.html()*1+1);
        }else if(result==2){
            layer.msg('评论点赞失败');
        }else if(result==3){
            layer.msg('取消评论点赞成功');
            i.removeClass("fa-thumbs-o-up2");
            span.html(span.html()*1-1);
        }else if(result==4){
            layer.msg('取消评论点赞失败');
        }
    })
    return false;
})
//评价
$(".content_submit").click(function(){
    var pid=$(this).attr('data-pid');
    var level=$(this).attr('data-level');
    var content=$(this).parents(".contentparent").find(".content").val();
    var url=$("#curl").val();
    var reply_id = 0;
    if(level>0){
        reply_id=$(this).attr('data-reply');
    }

    $.post(url,{content:content,level:level,reply_id:reply_id,pid:pid},function(result){
        eval('data='+result+'');
        if(data.code==1){
          layer.msg(data.msg);
          setTimeout(function(){window.location.reload(0);}, 1000);
        }else{
          layer.msg(data.msg);
        }
    })
})
//关注&取消关注
$("body").on("click",".follow",function(){
    var url=$(this).attr("data-href");
    var t=$(this)
    $.get(url,function(result){
        if(result==1){
            layer.msg('关注成功');
            t.html('已关注');
        }else if(result==2){
            layer.msg('关注失败');
        }else if(result==3){
            layer.msg('取消关注成功');
            t.html('关注');
        }else if(result==4){
            layer.msg('取消关注失败');
        }
    });
    return false;
})
//新建盒子
$(".addbox").click(function(){
    var boxs=$(this).parent().siblings(".boxval");
    var name=boxs.val();
    var link=$(this).attr('data-link');
    if(name==''){
        layer.msg('请输入盒子名称');
        return false;
    }
    var url="{:url('home/release/cmfbox')}";
    $.post(url,{name:name},function(data){
        eval('data='+data+'');
        if(data.code==1){
          layer.msg(data.msg);
          var html='<li><a href="'+link+'&sid='+data.id+'" class="addattitude2"><i class="fa fa-cube red nosel"></i>'+name+'</a></li>';alert
          $(".tops").before(html);
          boxs.val("");
          $(".boxopen").addClass("open");
          //setTimeout(function(){window.location.reload(0);}, 1000);
        }else{
          layer.msg(data.msg);
        }
    })
    return false;
})
//加入盒子
$("body").on("click",".addattitude2",function(){
    var span=$(this).parents(".boxparent").find("span.boxstatus");
    var icon=$(this).parents(".boxparent").find("i.icon-cube3");
    var url=this.href;
    var sel=$(this).find("i");
    $.get(url,function(result){
        if(result==1){
            layer.msg('已加入盒子');
            span.html(span.html()*1+1);
            $(".boxopen").removeClass("open");
            sel.removeClass("nosel");
            sel.addClass("sel");
            if(span.html()*1>0){
                icon.addClass("icon-cube4");
            }else{
                icon.removeClass("icon-cube4");
            }
        }else if(result==2){
            layer.msg('加入盒子失败');
        }else if(result==3){
            layer.msg('已从盒子里删除');
            span.html(span.html()*1-1);
            $(".boxopen").removeClass("open");
            sel.removeClass("sel");
            sel.addClass("nosel");
            if(span.html()*1>0){
                icon.addClass("icon-cube4");
            }else{
                icon.removeClass("icon-cube4");
            }
        }else if(result==4){
            layer.msg('已从盒子里删除失败');
        }
    });
    return false;
})
//踩,赞...
$(".addattitude").click(function(){
    var msg = $(this).attr('data-msg');
    var span=$(this).find("span.status");
    var url=this.href;
    var t=$(this);
    $.get(url,function(result){
        if(result==1){
            layer.msg(msg+'成功');
            span.html(span.html()*1+1);
            t.addClass("showbg");
        }else if(result==2){
            layer.msg(msg+'失败');
        }else if(result==3){
            layer.msg('取消'+msg+'成功');
            span.html(span.html()*1-1);
            t.removeClass("showbg");
        }else if(result==4){
            layer.msg('取消'+msg+'失败');
        }
    })
    return false;
})
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".container").rowGrid({itemSelector: ".item", minMargin: 10, maxMargin: 25, firstItemClass: "first-item"});
    });
    $(document).ready(function () {
        $('[data_c=yqkf]').click(function () {
            var cur = $(this).text();
            var shangji = $(this).parents('.yqkfbtn ');
            if (shangji.find(".kaifa").length > 0) {
                shangji.find('.togglekf').removeClass('kaifa');
                $(this).text(cur === '要求开发' ? '已经要求' : '要求开发');
            } else {
                shangji.removeClass('display');
                shangji.find('.togglekf').addClass('kaifa');
                $(this).text(cur === '已经要求' ? '要求开发' : '已经要求');
            }
        });
        $('[data_c=yqzz]').click(function () {
            var cur = $(this).text();
            var shangji = $(this).parents('.yqkfbtn');
            if (shangji.find(".kaifa").length > 0) {
                shangji.find('.togglekf').removeClass('kaifa');
                $(this).text(cur === '要求制作' ? '已经要求' : '要求制作');
            } else {
                shangji.removeClass('display');
                shangji.find('.togglekf').addClass('kaifa');
                $(this).text(cur === '已经要求' ? '要求制作' : '已经要求');
            }
        });
        $('[data_c=yyd]').click(function () {
            var cur = $(this).text();
            var shangji = $(this).parents('.yqkfbtn');
            if (shangji.find(".kaifa").length > 0) {
                shangji.find('.togglekf').removeClass('kaifa');
                $(this).text(cur === '1元 预定' ? '已预定' : '已预定');
            }
        });
        $('[data_c=yyd1]').click(function () {
            var cur = $(this).text();
            var shangji = $(this).parents('.yqkfbtn');
            if (shangji.find(".kaifa").length > 0) {
                shangji.find('.togglekf').removeClass('kaifa');
                $(this).text(cur === '15元 预定' ? '已预定' : '已预定');
            }
        });
    });


    $(document).ready(function () {
        $(".pinglun-tb").click(function () {
            var shangji = $(this).parents('body');
            if (shangji.find(".shows").length > 0) {
                shangji.find('.pinglun-zk').removeClass('shows');
                shangji.find('.pinglun-zk').show();
            } else {
                shangji.removeClass('display');
                shangji.find('.pinglun-zk').addClass('shows');
                shangji.find('.pinglun-zk').hide();
            }

        });
    });

</script>


<script type="text/javascript">

    $('[data_c="ShowInfo"]').hover(function () {
        var data_s = $(this).attr('data_s');
        $('#' + data_s).show();
    }, function () {
        var data_s = $(this).attr('data_s');
        $('#' + data_s).hide();
    });
</script>

<script src="__CDN__/assets/home/js/TouchSlide.js"></script>
<script>
    TouchSlide({
        slideCell: "#focus",
        titCell: ".hd ul", // 开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell: ".bd ul",
        effect: "leftLoop",
        autoPlay: true, // 自动播放
        autoPage: true, // 自动分页
        delayTime: 200, // 毫秒；切换效果持续时间（执行一次效果用多少毫秒）
        interTime: 2500, // 毫秒；自动运行间隔（隔多少毫秒后执行下一个效果）
        switchLoad: "_src" // 切换加载，真实图片路径为"_src"
    });

</script>


</body>
</html> 