{include file="common/headPath" /}
{include file="common/header" /}
<div class="main-qp">
    <div class="main-w clearfix">
        <div class="tabs-container fabu-nav l">
            

            <ul class="nav nav-tabs redline qyxx">
                <li class="active"><a href="{:url('home/content/about_us')}">关于我们</a></li>
                <li class=""><a href="{:url('home/content/recruit')}">诚聘英才</a></li>
                <li class=""><a href="{:url('home/content/contact')}">联系我们</a></li>
            </ul>
        </div>
        <div class="fabu-content r">

            <div class="bgwh fabu-num minh740">
                <div class="middle-title-wrap border-bottom ">
                    <h2 class="middle-title">{$data.title}</h2>
                </div>
                {$data.content}


            </div>

        </div>
    </div>

<script type="text/html" id="func1_c">
    <div class="clcjtk">
        <div class="bt">材料<br>创建成功</div>
        <div class="cjcg clearfix">
            <ul>
                <li><a id="close">继续<br>完善样板</a></li>
                <li><a class="redbg" id="close2">完善<br>材料详情</a></li>
            </ul>
        </div>
    </div>
</script>

<script>
    $(document).ready(function () {
        $(".anniu").click(function () {
            if ($(this).parent().find(".show").length > 0) {
                $(this).removeClass('show');
                $(this).addClass('hide1');
                $(this).parent().find('.bangzhu2c').fadeIn();
            } else {
                $(this).removeClass('hide1');
                $(this).addClass('show');
                $(this).parent().find('.bangzhu2c').fadeOut();
            }


        });
    });
</script>


{include file="common/fooder" /}
</body>
</html> 