<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <!-- <input id="c-pid" data-rule="required" class="form-control" name="row[pid]" type="number" value="{$row.pid}"> -->
            <select id="c-pid" data-rule="required" class="form-control" name="row[pid]">
               <option value="0">无上级分类</option>
               {volist name="list" id="vo"}
               <option value="{$vo.class_id}" {$vo['class_id']==$row['pid']?'selected':''}>{$vo.levs}{$vo.name}</option>
               {/volist}
            </select> 
        </div>
    </div>
    <input id="c-pname" data-rule="required" class="form-control" name="row[pname]" type="text" value="{$row.pname}" style="display:none;">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sort')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sort" class="form-control" name="row[sort]" type="number" value="{$row.sort}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
