<!DOCTYPE html >
<html>
<head>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <title>CMFYB</title>
    <meta name="keywords" content="CMFYB样板"/>
    <meta name="description" content="CMFYB样板"/>
    <link type="text/css" rel="stylesheet" href="__CDN__/assets/home/css/iconfont.css"/>
    <link href="__CDN__/assets/home/bootstrap/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__CDN__/assets/home/bootstrap/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CDN__/assets/home/bootstrap/css/style.min.css?v=4.0.0" rel="stylesheet">
    <link href="__CDN__/assets/home/css/demo.css" rel="stylesheet" media="all"/>
    <link rel="stylesheet" href="__CDN__/assets/home/css/main.css"/>
    <link rel="stylesheet" href="__CDN__/assets/home/css/cmfyb.css"/>
    <script src="__CDN__/assets/home/js/jquery-1.11.1.min.js"></script>
    <script src="__CDN__/assets/home/js/jquery.fly.min.js"></script>
</head>