{include file="common/headPath" /}
{include file="common/header" /}
<div class="main-qp">
    <div class="main-w clearfix">
        <div class="tabs-container fabu-nav l">
            <ul class="nav nav-tabs redline qyxx">
                <li class=""><a href="{:url('home/release/tmplate')}"> 发布样板</a></li>
                <li class=""><a href="{:url('home/release/material')}">发布材料</a></li>
                <li class=""><a href="{:url('home/release/technology')}">发布工艺</a></li>
                <li class=""><a href="{:url('home/release/device')}">发布设备</a></li>
            </ul>
            <ul class="nav nav-tabs redline qyxx">
                <li class=""><a href="{:url('home/release/cases')}">发布案例</a></li>
                <li class="active"><a href="{:url('home/release/video')}">发布视频</a></li>
                <li class=""><a href="{:url('home/release/article')}">发布文章</a></li>
                <li class=""><a href="{:url('home/release/interlocution')}">发布问答</a></li>
            </ul>
            <ul class="nav nav-tabs redline qyxx">
                <li class=""><a href="{:url('home/release/cmfbox')}">CMF盒子</a></li>
            </ul>
        </div>
        <div class="fabu-content r">
            <form class="form-horizontal" id="submit_form" method="post" action="{:url('home/release/video')}" target="exec_target" enctype="multipart/form-data">
                <div class="fabubgwh mb10 minh740" >
                    <div class="mb15">
                        <div class="fabu-num1 clearfix">
                            <div class="l per55">
                                <div class="form-group clearfix">
                                    <label class="l control-label rel">
                                        <span class="red">*</span>
                                        <span class="clname">视频标题：</span>
                                    </label>
                                    <div class="l  m10">
                                        <input type="text" class="form-control fbinput w200" name="name">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix l">
                                <label class="l control-label rel">
                                    <span class="red">*</span>
                                    <span class="clname">封面图片：</span>
                                </label>
                                <div class="l m10" style="margin-top: 5px;">
                                    <a href="#">
                                        <label for="up_imga" class="upload"><img src="__CDN__/assets/home/images/mrt.png" class="fmtp" id="imgShowa" style="width:40px;height:31px;"></label>
                                        <input type="file" id="up_imga" style="display:none;"  name='file'>
                                    </a>
                                </div>
                                <div class="l fs12 ccyq">
                                    尺寸要求：257*145<br>
                                    其他尺寸会被系统压缩，影响视觉效果！
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb10">
                            <label class="l control-label rel pt0">
                                <span class="red">*</span>
                                <span class="clname">简介：</span>
                            </label>
                        </div>
                        <div class="form-group ">
                            <div class="m10">
                                <textarea type="text" placeholder="" class="form-control fbinput xg-height1" name="abstract"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="mb10 clearfix">
                        <div class="mb15">
                            <span class="wh">*</span>
                            请选择视频相关属性<span class="g9 fs14">（便于用户检索。）</span>
                        </div>
                        <div class="xuanzecl">
                            <label class=" control-label rel  l pt4">
                                <span class="wh">*</span>
                                <span >表面工艺：</span>
                            </label>
                            <div class="rel l">
                                <!-- <span class="tab"><a href="#">POM</a></span>-->
                                <a class="dropdown-toggle bghui" data-toggle="dropdown" aria-expanded="true">
                                    请选择材料</a>
                                <a href="#" class="g9 fs14 ml5">添加</a>
                                <div class="dropdown-menu cailiao-tc ">
                                    <div class="search nomargin">
                                        <input name="surface_process" placeholder="请输入标题" data-required="true"
                                               class="form-control " type="text">
                                        <div class="fdj"><i class="fa fa-search"></i></div>
                                    </div>
                                    <div class="findcl"><span class="g9">没有找到“磨砂”表面工艺，</span><a data_c="fun"
                                                                                                class="g0"><b>创建表面工艺</b></a>
                                    </div>
                                    <div>
                                        <div class="qtclbt">其他类似：</div>
                                        <a href="#" class="lslink g9">PSA</a>
                                        <a href="#" class="lslink g9">POM</a>
                                        <a href="#" class="lslink g9"> PC</a>
                                        <a href="#" class="lslink g9">PP</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="xuanzecl">
                            <label class=" control-label rel l pt4">
                                <span class="wh">*</span>
                                <span >成型工艺：</span>
                            </label>
                            <div class="rel l">
                                <!-- <span class="tab"><a href="#">金属</a></span>-->
                                <a class="dropdown-toggle bghui" data-toggle="dropdown" aria-expanded="true">
                                    请选择材料</a>
                                <a href="#" class="g9 fs14 ml5">添加</a>
                                <div class="dropdown-menu cailiao-tc ">
                                    <div class="search nomargin">
                                        <input name="moulding_process" placeholder="请输入标题" data-required="true"
                                               class="form-control " type="text">
                                        <div class="fdj"><i class="fa fa-search"></i></div>
                                    </div>
                                    <div class="findcl"><span class="g9">没有找到“金属”成型工艺，</span><a data_c="fun"
                                                                                                class="g0"><b>创建成型工艺</b></a>
                                    </div>
                                    <div>
                                        <div class="qtclbt">其他类似：</div>
                                        <a href="#" class="lslink g9">PSA</a>
                                        <a href="#" class="lslink g9">POM</a>
                                        <a href="#" class="lslink g9"> PC</a>
                                        <a href="#" class="lslink g9">PP</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="xuanzecl">
                            <label class=" control-label rel  l pt4">
                                <span class="wh">*</span>
                                连接工艺：
                            </label>
                            <div class="rel l">
                                <!-- <span class="tab"><a href="#">金属</a></span>-->
                                <a class="dropdown-toggle bghui" data-toggle="dropdown" aria-expanded="true">
                                    请选择材料</a>
                                <a href="#" class="g9 fs14 ml5">添加</a>
                                <div class="dropdown-menu cailiao-tc ">
                                    <div class="search nomargin">
                                        <input name="join_process" placeholder="请输入标题" data-required="true"
                                               class="form-control " type="text">
                                        <div class="fdj"><i class="fa fa-search"></i></div>
                                    </div>
                                    <div class="findcl"><span class="g9">没有找到“金属”连接工艺，</span><a id="func6"
                                                                                                onclick="func6();"
                                                                                                class="g0"><b>创建连接工艺</b></a>
                                    </div>
                                    <div>
                                        <div class="qtclbt">其他类似：</div>
                                        <a href="#" class="lslink g9">PSA</a>
                                        <a href="#" class="lslink g9">POM</a>
                                        <a href="#" class="lslink g9"> PC</a>
                                        <a href="#" class="lslink g9">PP</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="xuanzecl">
                            <label class=" control-label rel  l pt4">
                                <span class="wh">*</span>
                                设&#12288;&#12288;备：
                            </label>
                            <div class="rel l">
                                <!-- <span class="tab"><a href="#">金属</a></span>-->
                                <a class="dropdown-toggle bghui" data-toggle="dropdown" aria-expanded="true">
                                    请选择材料</a>
                                <a href="#" class="g9 fs14 ml5">添加</a>
                                <div class="dropdown-menu cailiao-tc ">
                                    <div class="search nomargin">
                                        <input name="process_device" placeholder="请输入标题" data-required="true"
                                               class="form-control " type="text">
                                        <div class="fdj"><i class="fa fa-search"></i></div>
                                    </div>
                                    <div class="findcl"><span class="g9">没有找到“金属”连接工艺，</span><a data_c="fun"
                                                                                                class="g0"><b>创建连接工艺</b></a>
                                    </div>
                                    <div>
                                        <div class="qtclbt">其他类似：</div>
                                        <a href="#" class="lslink g9">PSA</a>
                                        <a href="#" class="lslink g9">POM</a>
                                        <a href="#" class="lslink g9"> PC</a>
                                        <a href="#" class="lslink g9">PP</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="xuanzecl" style="margin-bottom: 0">
                            <label class=" control-label rel  l pt4">
                                <span class="wh">*</span>
                                其&#12288;&#12288;他：
                            </label>
                            <div class="rel l">
                                <!-- <span class="tab"><a href="#">金属</a></span>-->
                                <a class="dropdown-toggle bghui" data-toggle="dropdown" aria-expanded="true">
                                    请选择材料</a>
                                <a href="#" class="g9 fs14 ml5">添加</a>
                                <div class="dropdown-menu cailiao-tc ">
                                    <div class="search nomargin">
                                        <input name="consumables" placeholder="请输入标题" data-required="true"
                                               class="form-control " type="text">
                                        <div class="fdj"><i class="fa fa-search"></i></div>
                                    </div>
                                    <div class="findcl"><span class="g9">没有找到“金属”连接工艺，</span><a data_c="fun"
                                                                                                class="g0"><b>创建连接工艺</b></a>
                                    </div>
                                    <div>
                                        <div class="qtclbt">其他类似：</div>
                                        <a href="#" class="lslink g9">PSA</a>
                                        <a href="#" class="lslink g9">POM</a>
                                        <a href="#" class="lslink g9"> PC</a>
                                        <a href="#" class="lslink g9">PP</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <div class="form-group mb10">
                            <label class="l control-label rel">
                                <span class="wh">*</span>
                                <span class="clname" >详情：</span>
                            </label>
                        </div>
                        <div class="form-group mb10">
                            <div class="m10">
                                <div class="videobg" style="height:350px;">
                                    <textarea id="editor_id" name="content" style="width:100%;height:350px;" placeholder="请输入要填写的内容"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="fabu-num1 clearfix" style="margin-bottom: 10px;">
                            <div class="l per55">
                                <div class="form-group clearfix">
                                    <label class="l control-label rel pt0">
                                        <span class="wh">*</span>
                                        <span class="">标签：</span>
                                    </label>

                                    <div class="l  m10">
                                        <input class="form-control fbinput cskuan " name="effect[]" placeholder="磨砂" type="text">
                                    </div>
                                    <div class="l  ">
                                        <input class="form-control fbinput cskuan " name="effect[]" placeholder="拉丝" type="text">
                                    </div>
                                    <div class="l  m10">
                                        <input class="form-control fbinput cskuan " name="effect[]" placeholder="防腐蚀" type="text">
                                    </div>
                                    <div class="l control-label pt0"><a href="#" class="g9 fs14 ml5">添加</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group  ">
                            <div class="l m10">
                                <div>
                                    <i class="icon icon-gt"></i>
                                    <span class="g9 fs14">请认真填写发布信息，这对指导设计师设计工作的开展有重大的帮助！</span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="checkbox" name="agree" type="checkbox"><span class="g9 fs14">我已阅读并接受</span>
                                        <a href="用户协议.html" class="red">《用户协议》</a>
                                    </label>
                                </div>
                            </div>
                            <div class="r mt10">
                                <input type="hidden" value="0" id="drafts" name="draft">
                                <button class="btn  btn-regiest w80s mr5 button" type="button" data-draft="0">发布</button>
                                <button class="btn  btn-regiest w80s button" type="button" data-draft="1">存草稿</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
<script src="__CDN__/assets/home/js/uploadPreview.js"></script>

<script charset="utf-8" src="__CDN__/assets/home/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__CDN__/assets/home/kindeditor/lang/zh-CN.js"></script>
<script type="text/javascript">
//发布样板
var flag=false;
$(".button").click(function(){
    var name = $("input[name='name']").val();
    if(name==''){
        layer.msg('视频标题不能为空');
        return false;
    }
    var content = editor.html();
    $("#editor_id").val(content);
    if(content==''){
        layer.msg('详情不能为空');
        return false;
    }
    if(!$("input[name='agree']").is(":checked")){
        layer.msg('请先阅读用户协议并勾选该项');
        return false;
    }
    var draft=$(this).attr('data-draft');
    $("#drafts").val(draft);
    if(flag){
        //return false;
    }
    flag=true;
    var form=$("#submit_form");
    var fd=new FormData(form.get(0));
    var url=form.attr('action');
    $.ajax({
        url:url,
        type:form.attr('method'),
        processData:false,
        contentType:false,
        async:false,
        data:fd,
        beforeSend: function(){

        },
        success: function(data){
          console.log(data);
          eval('data='+data+'');
          if(data.code==1){
             layer.msg(data.msg);
             setTimeout(function(){window.location.reload(0);}, 1000);
          }else{
             layer.msg(data.msg);
          }
          
        },
        complete: function(){

        }

      })
});
</script>
<script type="text/javascript">
    window.onload = function () {
        new uploadPreview({UpBtn: "up_imga", DivShow: "imgdiva", ImgShow: "imgShowa"});
    };
</script>
<script>
    KindEditor.ready(function(K) {
            window.editor = K.create('#editor_id');
    });
</script>
{include file="common/fooder" /}
</body>
</html> 